@charset "utf-8";

.login_Div	{ border:1px solid #d8d8d8; float:left; padding:20px 10px; padding-top:10px; background:url(../images/all_line_img.gif) repeat-x 0 -2179px; _background:url(../all_img/all_line_img.gif) repeat-x 0 -2165px; height:200px;}