@charset "utf-8";
/* CSS Document */

a {
	text-decoration:none;
}
a, a:visited {
	color:#000;
	background:inherit;
}
ul li input{margin:0 1px 0 0;padding:0}
#CategoryTree ul {
	broder:1px solid red;	
}
.checkboxOn {
 padding:0;
 margin:0;
 border:1px #0F0  inset;
}
.threeMove{background:url(../images/hover_nav.png) repeat-x;}
.three_mouseMove{background:#f3f3f3}